.rhap_container {
    background-color: rgba(0, 0, 0, 0) !important;
    fill: #fff;
    box-shadow: none;
}

.rhap_main.rhap_stacked {
    width: 600px;
}

.rhap_main-controls>button {
    color: #fff;
}

.rhap_progress-filled {
    background-color: #7A66CC;
    box-shadow: 0 0 8px #7A66CC, 0 5px 12px #b866cc;
}

.rhap_current-time {
    color: #fff;
}

.rhap_time.rhap_total-time {
    color: #fff;
}

.rhap_progress-bar.rhap_progress-bar-show-download {
    background-color: #fff;
}

.rhap_progress-indicator {
    background-color: #fff;
}